<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
</head>
<style>
    body {
        padding:0;
        margin:0 auto;
        width:600px;
    }
    p {
        margin: 0;
        padding: 0;
    }
    input#inputname{
        width:550px;
        margin: 0 auto;
    }
    input#inputmassage{
        width:550px;
        height:150x;
        margin: 0 auto;
    }

</style>
<body>
<h1>Simple BBS</h1>
<form method="post">
    <p>USERNAME :</p>
    <p><input id="inputname" name="username" type="text" placeholder="名無しさん"></p>
    <p>MESSAGE</p>
    <p><input id="inputmassage" name="message" type="text"></p>
    <p>パスワードを入力して過去の投稿を全削除します: <input type="text" name="clear"></p>
    <p><input type="submit" value="送信"></p>
</form>

{% for i in list %}
<p class="user">username:{{ i.0 }}</p>
<p class="mes">message:{{ i.1 }}</p>
<hr>
{% endfor %}

{% if clear_message %}
{{ clear_message }}
{% endif %}
</body>
</html>